@font-face {
  font-family: "ARAP11Regular";
  src: url("/font/arap111/ARAP 1111 Regular.ttf") format("truetype");
  /* Adjust the path */
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #e9f5ff;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-menu.dropdown-center {
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-item {
  font-size: 16px !important;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -0.5rem;
  display: none;
}

.donation-status::after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.donation__middle--header img {
  width: 100px;
}

p {
  font-family: "Poppins", sans-serif;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #FDD835;
}

.bg-primary-dark {
  --bs-bg-opacity: 1;
  background-color: rgb(227, 111, 30) !important;
}

.w-300 {
  width: 300px;
}

.bg-body-theme {
  background-color: #e36f1e !important;
}

div#exampleModal {
  background: rgba(26, 26, 26, 0.6392156863);
}

.header {
  /* If you have other content in the &__details, make sure to style it to appear above the overlay */
}
.header__details {
  position: relative; /* Ensure the pseudo-element is positioned relative to this parent */
  background-image: url(../img/sahid1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 96, 191, 0.9294117647);
  z-index: 1; /* Ensure it appears above the background image */
  pointer-events: none; /* Allows interactions with the parent element */
}
.header__details > * {
  position: relative;
  z-index: 2; /* Place content above the overlay */
}
.header__top {
  max-width: 100%;
  width: 100%;
  min-height: 2.75rem;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 0.95rem;
  text-align: right;
}
.header__top p {
  margin-bottom: 0px;
  padding-bottom: 0px;
  line-height: 44px;
}
.header__middle .logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.header__middle .logo__details h2 {
  font-family: "ARAP11Regular";
  font-weight: 900;
  margin-bottom: 0px;
  color: #fff;
}
.header__middle .logo__details p {
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #fff;
}
.header__inner .logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header__inner .logo__details h2 {
  font-family: "ARAP11Regular";
  font-weight: 900;
  margin-bottom: 0px;
  color: #0071c0;
}
.header__inner .logo__details p {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 900;
  color: #e36f1e;
}
.header__inner a {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  letter-spacing: 0.6px;
  color: #fff;
}
.header__inner .nav-link {
  padding: 6px 15px !important;
}

.tel-phone .icon {
  border: 1px solid #a4a4a4;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
}

img {
  width: 100%;
}

.donation-modal {
  text-align: center;
}
.donation-modal .img-logo {
  width: 200px;
  height: 200px;
}
.donation-modal .img-qr {
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}
.donation-modal h4 {
  padding: 15px;
  font-weight: bold;
  color: white;
}

.sliderContent {
  margin-top: -150px;
  border-radius: 5px;
}

.dastabeg .custom-nav-tabs .nav-link {
  color: #fff; /* White text */
  border: none; /* Remove default borders */
  padding: 10px 15px;
  margin-right: 5px;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-weight: bold;
}
.dastabeg .custom-nav-tabs .nav-link.active {
  background-color: #007bff; /* Darker blue for active state */
  color: #fff; /* White text for active state */
  border-bottom: 2px solid #e36f1e; /* Yellow bottom border */
}
.dastabeg .custom-nav-tabs .nav-link:hover {
  background-color: #007bff; /* Darker blue on hover */
  color: #fff;
}
.dastabeg ul#myTab {
  background: #007bff;
  border-radius: 5px 5px 0px 0px;
  padding: 10px 0px 0px 0px;
}
.dastabeg .panel-part {
  background-color: #e9f5ff;
}
.dastabeg .panel-part a {
  text-decoration: none;
  color: #000;
  display: block;
  margin-bottom: 15px;
}
.dastabeg .panel-part .line-breaker {
  border-bottom: 1px solid #cddff3;
  margin-bottom: 15px;
}

.sidebar-dash {
  border: dashed;
}

.pardesh__details ul {
  padding: 0;
  margin: 0;
}
.pardesh__details ul li {
  list-style-type: none;
  display: contents;
}
.pardesh__details ul li a {
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #a4a4a4;
  display: inline-block;
  color: #e36f1e;
  font-weight: 600;
  border-radius: 5px;
  margin-right: 10px;
}

.pardesh-title {
  color: #000;
  text-decoration: none;
}
.pardesh-title h2 {
  font-size: 26px;
}

.pardesh__card {
  background-color: #e9f5ff;
}

.sidebar-pardesh h2 {
  font-size: 18px;
}

.footer {
  background-color: #2a2a2a;
  color: #fff;
}
.footer .border-top {
  border-top: 1px solid #424242 !important;
}

.search-form {
  width: 100%;
  padding: 10px 30px;
  border-radius: 30px;
  border: 2px solid #6D4C41;
}

.modal-without-bg {
  background-color: rgba(16, 16, 16, 0) !important;
  border: none;
}

.banner-inner img {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */