@font-face {
    font-family: 'ARAP11Regular';
    src: url('/font/arap111/ARAP\ 1111\ Regular.ttf') format('truetype');
    /* Adjust the path */
    font-weight: normal;
    font-style: normal;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #FDD835;
}
.w-300{
    width: 300px;
}
.bg-body-theme{
    background-color: #e36f1e!important;
    // background-color: #2260bf !important;
}
.header {
    &__details {
        position: relative; /* Ensure the pseudo-element is positioned relative to this parent */
        background-image: url(../img/sahid1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    &__details::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2260bfed;
        z-index: 1; /* Ensure it appears above the background image */
        pointer-events: none; /* Allows interactions with the parent element */
    }
    
    /* If you have other content in the &__details, make sure to style it to appear above the overlay */
    &__details > * {
        position: relative;
        z-index: 2; /* Place content above the overlay */
    }
    
    &__top {
        max-width: 100%;
        width: 100%;
        min-height: 2.75rem;
        font-family: "Fira Sans Condensed", sans-serif;
        font-size: 0.95rem;
        text-align: right;
        // background-color: #e36f1e;

        p {
            margin-bottom: 0px;
            padding-bottom: 0px;
            line-height: 44px;

        }
    }
    &__middle{
        .logo {
            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }

            &__details {
                h2 {
                    font-family: 'ARAP11Regular';
                    font-weight: 900;
                    margin-bottom: 0px;
                    color: #fff;
                }

                p {
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    font-weight: 900;
                    color: #fff;
                }
            }
        }
    }

    &__inner {
        .logo {
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }

            &__details {
                h2 {
                    font-family: 'ARAP11Regular';
                    font-weight: 900;
                    margin-bottom: 0px;
                    color: #0071c0;
                }

                p {
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    font-weight: 900;
                    color: #e36f1e;
                }
            }
        }

        a {
            font-size: 18px;
            font-weight: 600;
            display: inline-block;
            letter-spacing: 0.6px;
            color: #fff;
        }
        .nav-link{
            padding: 6px 15px!important;
        }
    }
}
.tel-phone{
    
    .icon{
        border: 1px solid #a4a4a4;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 30px;

    }
}
img {
    width: 100%;
}
.sliderContent{
    margin-top: -150px;
    border-radius: 5px;
}